<!-- Main Div for containing the Model Builder page -->
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-info pull-right" type="button" style="margin: 5px">Import</button>
            <button class="btn btn-info pull-right" type="button" style="margin: 5px">Export</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <label>Search Models</label>
            <input type="text" class="form-control" id="modelbuilder_filterinput" placeholder="Search" data-ng-model="searchText" data-ng-model="searchType">
        </div>
    </div>
    <div class="row" style="padding-top : 10px">
        <div class="col-lg-12">
            <div class="btn-group" style="width: 100%">
              <button type="button" class="btn btn-default" style="width: 33%" ng-click="drawerCtrl.setTab(0)">All</button>
              <button type="button" class="btn btn-default" style="width: 33%" ng-click="drawerCtrl.setTab(1)" data-ng-model="searchType.dbType" ng-value="Personal">Local</button>
              <button type="button" class="btn btn-default" style="width: 33%" ng-click="drawerCtrl.setTab(2)" data-ng-model="searchType.dbType" ng-value="Database" >Database</button>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top : 10px">
        <div class="col-lg-12">

            <span class="label label-default" style="display:block;">Local</span>

            <ul id="modelList" class="list-group">
                        
                <a href="" class="list-group-item modelElement" data-ng-repeat="model in list | filter: searchText | filter:searchType | orderBy: 'model.name'" ng-dblclick="moveModel(model.name)" ng-style="styleModel(model.dbType, model_color)" ng-mousedown="setModel(model.name)" title="{{'{{modelPopover.title}}'}}" data-content="{{'{{modelPopover.content}}'}}" ng-init="path=getTemplate(model.type)" ng-model="path" data-template="{{'{{path}}'}}" data-trigger="click" bs-popover>{{ '{{ model.name }}'  }}</a>
                        
            </ul>
             <span class="label label-default" style="display:block;">Database</span>

             <ul id="modelList" class="list-group">
                        
                <a href="" class="list-group-item modelElement" data-ng-repeat="model in list | filter: searchText | filter:searchType | orderBy: 'model.name'" ng-dblclick="moveModel(model.name)" ng-style="styleModel(model.dbType, model_color)" ng-mousedown="setModel(model.name)" title="{{'{{modelPopover.title}}'}}" data-content="{{'{{modelPopover.content}}'}}" ng-init="path=getTemplate(model.type)" ng-model="path" data-template="{{'{{path}}'}}" data-trigger="click" bs-popover>{{ '{{ model.name }}'  }}</a>
                        
            </ul>
        </div>

    </div>  
<!-- End Main Div -->
