<!-- SIDE PANEL -->

<!-- Current model list which contains the list of models a user is working on -->
<div class="panel panel-default ncb-side-panel" ng-show="sideCtrl.isSidePanelVisible()" >
	<div class="panel-heading ncb-heading" ng-style="sideCtrl.styleHeader()">
        <div id="currentModelName">
            {{ '{{data.name}}' }}
        </div>
        <button type="button" ng-click="sideCtrl.close()" class="btn btn-xs btn-danger pull-right">x</button>
	</div>
	<div>
		<ol class="breadcrumb ncb-bread">
  			<li ng-repeat="breadCrumb in sideCtrl.getBreadCrumbs()">
                <a href="#">{{ '{{breadCrumb}}' }}</a>
            </li>
		</ol>
	</div>
	<!-- filtering is done here -->
	<div class="panel-body ncb-full-panel-body" >
		<div class="row ncb-full-row">
			<div class="col-lg-12">
				<button id="addPreview" class="btn btn-info btn-xs" ng-click="sideCtrl.addToModel(data)" type="button">Add to Current Model</button>
			</div>

        	<!-- show subcomponenets of model if not a cell -->
        	<div class="col-lg-12" id="subComponents" ng-show="data.classification != 'cell'">
	        	<div>
	        	    <span class="label label-default" style="display:block;">Components</span>
	        	</div>
				<a class="list-group-item ncb-cell-list-item" ng-style="sideCtrl.styleElement(group)" ng-show="data.classification != 'cell'" ng-repeat="group in data.groups" ng-dblclick="sideCtrl.selectComponent(group)">
                    <p class="ncb-cell-name-txt ncb-list-text-color" href="">{{ '{{group.name}}' }}</p>
                    <h4 ng-show="group.classification == 'cell'"class="ncb-cell-type-txt" href="">{{ '{{group.type}}' }}</h4>
                    <h4 ng-show="group.classification == 'cellGroup'"class="ncb-cell-type-txt" href="">Cell Group</h4>
				</a>
        	</div>

        	<!-- show different params based on cell type -->
        	<div class="col-lg-12" id="paramsPreview">
	        	<span class="label label-default" style="display:block;">Parameters Preview</span>
				<div ng-show="data.classification == 'cell'">
                    <div id="izParam" ng-show="data.type == 'Izhikevich'">
                        <a class="list-group-item"> Type: {{ '{{data.type}}' }}</a>
                        <a class="list-group-item"> <span style="text-decoration: underline;">Parameter Name</span></a>
                        <a class="list-group-item"> A: </a>
                        <a class="list-group-item"> B: </a>
                        <a class="list-group-item"> C: </a>
                        <a class="list-group-item"> D: </a>
                        <a class="list-group-item"> U: </a>
                        <a class="list-group-item"> V: </a>
                        <a class="list-group-item"> Threshold: </a>
                    </div>
                    <div id="ncsParam" ng-show="data.type == 'NCS'">
                        <a class="list-group-item"> Type: {{ '{{data.type}}' }}</a>
                        <a class="list-group-item"> <span style="text-decoration: underline;">Parameter Name</span></a>
                        <a class="list-group-item"> Threshold: </a>
                        <a class="list-group-item"> Resting Potential: </a>
                        <a class="list-group-item"> Calcium: </a>
                        <a class="list-group-item"> Calc. Spike Incr.: </a>
                        <a class="list-group-item"> Tau Calcium: </a>
                        <a class="list-group-item"> Leak Reversal Pot.: </a>
                        <a class="list-group-item"> Tau Membrane: </a>
                        <a class="list-group-item"> R Membrane: </a>
                        <a class="list-group-item"> Spike Shape: </a>
                    </div>
                    <div id="hhParam" ng-show="data.type == 'Hodgkin Huxley'">
                        <a class="list-group-item"> Type: {{ '{{data.type}}' }}</a>
                        <a class="list-group-item"> <span style="text-decoration: underline;">Parameter Name</span></a>
                        <a class="list-group-item"> Threshold: </a>
                        <a class="list-group-item"> Resting Potential: </a>
                        <a class="list-group-item"> Capacitance: </a>
                    </div>
				</div>
				<div ng-show="data.classification == 'cellGroup'">
                    <div id="cellParams">
	                    <a class="list-group-item"> Type: Cell Group</a>
                        <a class="list-group-item"> Quantity: </a>
                        <a class="list-group-item"> Geometry: </a>
                    </div>
				</div>
				<div ng-show="data.classification == 'model'">
				</div>
        	</div>
		</div>
		<ul>
						
		</ul>
	</div>
	<!-- end filtering -->
	
</div>
<!-- end current model list -->
	
<!-- SIDE PANEL END -->
