
.navbar-brand {
    background: url('/assets/img/ncs_logo.png');
    background-position: 16px 6px;
    background-size: 32px 32px;
    background-repeat:no-repeat;
    padding-left:56px;
}
.footer {
    color:#CCC;
    padding-top: 8px;
    border-top:1px solid #CCC;
}

#bread {
	font-size: 10px;
}

.ncb-full-panel {
    height:600px;
}

.ncb-heading {
    height:40px;
}

.ncb-tabs-button {
    margin: 8px;
}

.ncb-no-margins {
    margin: 0px;
}

