<!-- LEFT MENU -->

<!-- Current model list which contains the list of models a user is working on -->
<div id="currentModelList" class="panel panel-default ncb-full-panel" >
	<div class="panel-heading ncb-heading">
        <div id="currentModelName">
            Current Model
        </div>
        <button type="button"  bs-modal="modal" data-animation="am-fade-and-scale" data-placement="center" class="btn btn-xs btn-info pull-right">+ Cell</button>
        <button type="button" id="addCellGroup" ng-click="show()" class="btn btn-xs btn-info pull-right">+ Cell Group</button>
	</div>
	<div>
    <ol class="breadcrumb ncb-bread">
        <li ng-repeat="breadCrumb in modelCtrl.getBreadCrumbs()">
          <a href="#" ng-click="modelCtrl.goToBreadCrumb($index)">{{ '{{breadCrumb.name}}' }}</a>
        </li>
    </ol>
	</div>
	
	<!-- filtering is done here -->
	<div class="panel-body" >
		<div ng-repeat="model in currentModel.cellGroups">
          <div ng-style="modelCtrl.styleElement(model)" class="list-group-item ncb-cell-list-item" ng-dblclick="modelCtrl.selectComponent(model, $index)">
              <div class="row">
                  <div class="col-lg-12">
                      <a class="ncb-cell-name-txt ncb-list-text-color" href="">{{ '{{model.name}}' }} <button type="button" ng-click="modelCtrl.removeModel(model)" class="btn btn-xs btn-danger pull-right">x</button></a>
                  </div>
              </div>
              <div class="row ncb-default-blank-row">
                  <div class="col-lg-12 ">
                      <a ng-show="model.classification == 'cell'" class="ncb-cell-type-txt" href="">{{ '{{model.type}}' }}</a>
                      <a ng-show="model.classification == 'cellGroup'" class="ncb-cell-type-txt" href="">Cell Group</a>
                      <a ng-show="model.classification == 'model'" class="ncb-cell-type-txt" href="">Model</a>
                  </div>
              </div>
          </div>
						
		</div>
	</div>
	<!-- end filtering -->
	
</div>
<!-- end current model list -->

  <!--        <div class="col-lg-12" id="subComponents" ng-show="data.classification != 'cell' && data.cellGroups.length > 0">
        <a class="list-group-item ncb-cell-list-item" ng-style="sideCtrl.styleElement(group)" ng-show="data.classification != 'cell'" ng-repeat="group in data.cellGroups" ng-dblclick="sideCtrl.selectComponent(group, $index)">
                    <p class="ncb-cell-name-txt ncb-list-text-color" href="">{{ '{{group.name}}' }}</p>
                    <h4 ng-show="group.classification == 'cell'"class="ncb-cell-type-txt" href="">{{ '{{group.type}}' }}</h4>
                    <h4 ng-show="group.classification == 'cellGroup'"class="ncb-cell-type-txt" href="">Cell Group</h4>
        </a>
          </div> -->