 <!-- RIGHT MENU -->
<div class="col-lg-8">

    <!-- Div for Model paremeters-->
    <div class="panel panel-default" style="min-height:593px">
    
        <!-- Tab bar menu buttons for Cell group Parameters, Model Parameters, User Parameters -->
        <div id="groupName" class="panel-heading" style="height:40px">
            
        </div>
        <!-- end tab bar menu buttons -->

        <!-- Accordion -->
        <div class="panel-body">
            
        </div>
    </div>
        <!-- end Accordion -->

        <!-- Model Attirbute Names -->
        <div id="centerViewPanel" class="panel-body">
            <ul id="centerView" class="list-group">

            </ul>
        </div>
        <!-- end Model Attribute Names -->
        
        
    </div>
    <!-- End Model Paremeters -->
</div>  
<!-- RIGHT MENU END -->



