<div class="row">

	<!--Simulation Parameters Panel BEGIN-->
	<div class="panel panel-default">
		<div class="panel-heading">
		    <h3 class="panel-title">Simulation Parameters <button type="button" class="btn btn-xs btn-info pull-right">-</button> </h3>
		</div>
		<div class="panel-body">

		</div>
	</div>
	<!--Simulation Parameters Panel END-->
	<div class="row">
		<div class="col-lg-3">
			<!--Input/Output Variables Panel BEGIN-->
			<div class="panel panel-default">
				<div class="panel-heading">
				    <h3 class="panel-title">Simulation Parameters</h3>
				</div>
				<div class="panel-body">

				</div>
			</div>
			<!--Input/Output Variables Panel END-->
		</div>

		<div class="col-lg-9">
			<!--Input/Output Specification Panel BEGIN-->
			<div class="panel panel-default">
				<div class="panel-heading">
				    <h3 class="panel-title">Input/Output Specification</h3>
				</div>
				<div class="panel-body">

				</div>
			</div>
			<!--Input/Output Specification Panel END-->
		</div>

	</div>

</div>