<!-- Main DIV containing the modularized pieces of the simulation builder tab -->
<div id="simulation" class="container"  ng-controller="SimulationCtrl as simCtrl">

    <!-- Model Configuration Header -->
    <div class="page-header">
        <div class="row">
            <div class='col-lg-12'>
                <h3>
                <button type="button" class="btn btn-default" snap-toggle="left">
                    <span class="glyphicon glyphicon-th-list"></span>
                </button>
                <button type="button" id="launchSimButton" href="#" class="btn btn-success btn-md pull-right">Launch Simulation</button>
               Simulation Configuration
                </h3>
            </div>
        </div>
    </div>
    <!-- End Header -->
    
    <!-- Modularized components of Simulation Builder Tab -->
    <div class="row">
        <div class="col-lg-12">
            {% include 'pages/simbuilder/components/parameters.html' %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {% include 'pages/simbuilder/components/ioselector.html' %}
        </div>
        <div class="col-lg-8">
            {% include 'pages/simbuilder/components/iospecification.html' %}  
        </div>  
    </div>
    <!-- End Modularized components -->
    
</div>
<!-- End Main DIV -->
